Workflows/social media automation workflow.json
{
  "name": "social media automation workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1gQofZSSkHR7kGyp9Gex9WjL8J6SBFwsVrNsAHqyHgm0",
          "mode": "list",
          "cachedResultName": "Social Media Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gQofZSSkHR7kGyp9Gex9WjL8J6SBFwsVrNsAHqyHgm0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gQofZSSkHR7kGyp9Gex9WjL8J6SBFwsVrNsAHqyHgm0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -112
      ],
      "id": "2827d642-a76a-4cb4-975a-3893db24423e",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "r3qAQYFIxRKwaaz4",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -128,
        144
      ],
      "id": "7d9195ab-15c1-4205-b39a-e11c798f88e4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OyYKpwhRwFKa3XB8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite the content into a LinkedIn post with:\n- Max 600 characters\n- 4–6 short lines\n- 1 emoji\n- 3 hashtags\n- Professional tone\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        240,
        -112
      ],
      "id": "79a2b128-34e7-4139-a8c2-c8fd7319d116",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        144
      ],
      "id": "13f87de8-c414-4d9c-b2c0-59e6a23577a2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "OyYKpwhRwFKa3XB8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "person": "3tBKACmxXG",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        672,
        -112
      ],
      "id": "5464aab2-1eb3-4377-b05f-d02c58aab787",
      "name": "Create a post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "VT7HBLNBSvi97jjd",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=summarize articles. {{ $json.newslinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -128,
        -112
      ],
      "id": "3d6d06d9-ab77-486a-a4f1-becd14be7953",
      "name": "Summarize Articles"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Summarize Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Articles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Articles": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8610ede1-f658-4450-980d-e071783b5fb2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c3ae1d1696641660731f118a2453b887cd72daa080f4b50bce56a7a4a61bfcd"
  },
  "id": "ifgQ5zRbdCByV2D4",
  "tags": []
}